body {
  /* background-color: black; */
}

/* 헤더 */
#header {
  width: 100%;
  padding: 5px;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#menus {
  display: flex;
  list-style: none;
  width: 80%;
  float: right;
}
#menus li {
  margin: auto 10%;
  font-size: 25px;
  cursor: pointer;
}

#main {
  width: 100%;
}

#welcome {
  background-color: rgba(0, 128, 0, 1);
}
#userIntroduce {
  background-color: rgba(0, 128, 0, 0.7);
}
#userInformations {
  background-color: rgba(0, 128, 0, 0.3);
}
#projects {
  background-color: rgba(0, 128, 0, 0.2);
}

#footer {
  height: 100px;
  width: 100%;
  background-color: yellow;
}
