@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2% 0 0 0;
  h1 {
    font-size: 8rem;
    position: absolute;
  }
}

.top {
  position: absolute;
  left: 10%;
  width: 100%;

  h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ff4c29;
  }
  h1:nth-child(2) {
    color: #ff4c29;
    animation: animate 2s ease-in-out infinite;
  }
}

.mid {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 5%;

  h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ff4c29;
  }
  h1:nth-child(2) {
    color: #ff4c29;
    animation: animate 2.5s ease-in-out infinite;
  }
}

.bottom {
  position: absolute;
  top: 55%;
  width: 100%;
  left: 35%;
  h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ff4c29;
  }
  h1:nth-child(2) {
    color: #ff4c29;
    animation: animate 2s ease-in-out infinite;
  }
}

@media screen and (max-width: 1420px) {
  .wrap {
    h1 {
      font-size: 6rem;
    }
  }
  .mid {
    top: 35%;
  }
  .bottom {
    left: 45%;
    top: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    h1 {
      font-size: 4rem;
    }
  }
  .top {
    top: 10%;
  }
  .mid {
    top: 40%;
  }
  .bottom {
    top: 70%;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    h1 {
      font-size: 3rem;
    }
  }
  .top {
    top: 10%;
  }
  .mid {
    top: 40%;
  }
  .bottom {
    top: 70%;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    h1 {
      font-size: 2rem;
    }
  }
  .top {
    top: 10%;
  }
  .mid {
    top: 40%;
  }
  .bottom {
    top: 70%;
  }
}
