#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.title {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 50%;
  color: #d5cea3;
  p {
    width: 25%;
    font-size: 4rem;
    font-weight: 1000;
    margin: 0 0 0 5%;
    color: #d5cea3;
    background: linear-gradient(to left, #eeee, #eeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#skills {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 50%;
}

#skill {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #eeee, #eeee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  p {
    border-radius: 1rem;
    padding: 0 0.5rem;
  }
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.detailSkills {
  position: absolute;
  top: 30%;
  left: -5%;
  width: 60%;
  height: 60%;
  margin-left: 33%;
  margin-top: 2%;
  h2 {
    padding: 0;
    margin: 0;
    font-size: 2.3rem;
  }
  p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    color: #eeee;
    margin: 0;
  }
  div {
    padding: 2rem;
  }
}

.javascript {
  position: absolute;
  top: 0;
  left: 0;
  width: 46%;
  min-height: 9rem;
  border: 0.3rem inset #ff4c29;
  border-radius: 1rem;

  h2 {
    font-size: 2.5rem;
    position: absolute;
    top: -15%;
    color: #ff4c29;
    background-color: #082032;
    transform: rotate(-5deg);
  }
}

.react {
  position: absolute;
  top: 0;
  left: 55%;

  width: 46%;
  min-height: 9rem;
  border: 0.3rem inset #ff4c29;
  border-radius: 1rem;
  h2 {
    font-size: 2.5rem;
    position: absolute;
    top: -15%;
    color: #ff4c29;
    background-color: #082032;
    transform: rotate(-5deg);
  }
}
.html {
  position: absolute;
  top: 45%;
  left: 0;
  width: 46%;
  min-height: 9rem;
  border: 0.3rem inset #ff4c29;
  border-radius: 1rem;
  h2 {
    font-size: 2.5rem;
    position: absolute;
    top: -20%;
    color: #ff4c29;
    background-color: #082032;
    transform: rotate(-5deg);
  }
}
.vue {
  position: absolute;
  top: 45%;
  left: 55%;
  width: 46%;

  min-height: 9rem;
  border: 0.3rem inset #ff4c29;
  border-radius: 1rem;
  h2 {
    font-size: 2.5rem;
    position: absolute;
    top: -20%;
    color: #ff4c29;
    background-color: #082032;
    transform: rotate(-5deg);
  }
}
