.wrap {
  width: 100%;
  height: 100%;
  color: #eeee;
}
.contentWrap {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 60%;
  padding: 2%;
  border-radius: 2rem;
  background-color: rgb(8, 32, 55);
  border: 0.3em solid #ff4c29;
  .animate__animated animate__pulse {
    animation: pulse 2s infinite; /* 무한 반복 애니메이션 */
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.textOne {
  display: flex;
  height: 70%;
}
.icon {
  width: 20%;
  img {
    width: 100%;
    height: 70%;
    background: white;
    border-radius: 45%;
  }
}

.myInfo {
  width: 70%;
  height: 70%;
  padding: 1%;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 1000;
  span {
    color: #ff4c29;
    font-size: 1.5rem;
    font-weight: 1000;
  }
}

.textTwo {
  position: absolute;
  width: 80%;
  height: 20%;
  left: 10%;
  bottom: 10%;
  font-size: 2rem;
  font-weight: 1000;
  white-space: nowrap;
}

.content {
  margin: 0;
  color: transparent;
}
.content::before {
  content: "사용자 경험 협업적 문제 해결유지보수 클린코드";
  position: absolute;
  top: 20%;
  left: 35%;
  width: 100%;
  height: 100%;
  color: #ff4c29;
  overflow: hidden;
  animation: typing 5s steps(31) infinite;
}
.contentTwo {
  margin: 0;
  color: transparent;
}

.contentTwo::before {
  content: "새로운것에 대한 호기심과 도전의식";
  position: absolute;
  top: -20%;
  left: -5%;
  width: 100%;
  height: 100%;
  color: #ff4c29;
  overflow: hidden;
  animation: typing 5s steps(31) infinite;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.typing-demo {
  margin: 2% 0;
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 1000;
  color: #ff4c29;
  animation: typing 3s steps(32), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media screen and (max-width: 1420px) {
  .textTwo {
    font-size: 1.5rem;
  }
  .myInfo {
    span {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .textTwo {
    font-size: 1.2rem;
  }
  .myInfo {
    font-size: 0.9rem;
    span {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 1024px) {
  .textTwo {
    font-size: 1rem;
  }
  .myInfo {
    font-size: 0.8rem;
    span {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 580px) {
  .textTwo {
    width: 60%;
    font-size: 0.8rem;
  }
  .textBottom {
    margin-top: 50px;
  }
  .myInfo {
    width: 100%;
  }
  .icon {
    display: none;
  }
}
